* {
  margin: 0;
  padding: 0;
  text-decoration: 0; }

section {width: 100%; float:left;
}

/*header css*/

.navbar {
  width: 100%;
  position: fixed;
  z-index: 20;
}
.sticky{
  width: 100%;
  background: #85cdca;
  background: linear-gradient(90deg, #85cdca 0%, rgba(195, 141, 158, 0.6001751042) 80%);
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

  nav ul li a {
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

 .ul_navbar a:active,a:hover{
  background-color: blue;
  transition: .5s;
}

nav img{
  height: 8%;
  width: 8%;
  margin-left: 10px;
}
.navbar ul {
  float: right;
  margin-right: 20px;
}

.navbar ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

  .navbar ul li a {
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

  .ul_navbar li a:active,a:hover{
  background-color: none;
  color: red;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* første sektion */

#side1{
  background: #d6ebe5;
}

/* sektion 2 */

#side2 {
  background: yellow;
}

#side2 .carousel .kort{
  background: pink;
  border-radius: 25px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}
#side2 .carousel .kort img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid red;
  transition: all 0.3s ease;
}
#side2 .carousel .kort .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#side2 .carousel .kort .tekst{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
#side2 .carousel .kort:hover{
  background: blue;
}
#side2 .carousel .kort:hover img{
  border-color: skyblue;
}
#side2 .carousel .kort:hover .box{
transform: scale(1.05);
}
.owl-dots{
  text-align: center;
  margin-top: 20px;
}
.owl-dot{
  height: 20px;
  width: 20px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid blue!important;
  transition: all 0.3s ease;
  margin-bottom: 100px;
}
.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot.hover{
  background: blue!important;
}

/* sektion 3 */
#side3{
  background: skyblue;
}

#side3 .about-content .venstre img {
 height: 400px;
 width: 400px;
 object-fit: cover;
 border-radius: 6px;
}
#side3 .about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#side3 .about-content .venstre {
  width: 45%;
}
#side3 .about-content .hojre {
  width: 55%;
}

#side3 .about-content .hojre .tekstommig {
 font-size: 25px;
 font-weight: 600;
 margin-bottom: 10px;
}
#side3 .about-content .hojre .tekstommig span{
 color: green;
}
#side3 .about-content .hojre p{
 text-align: justify;
}
#side3 .about-content .hojre a{
 display: inline-block;
 background: red;
 color: #fff;
 font-size: 20px;
 font-weight: 500;
 padding: 10px 30px;
 margin-top: 20px;
 border-radius: 6px;
 border: 2px solid red;
 transition: all 0.3 ease;
}
#side3 .about-content .hojre a:hover{
 color: red;
 background: none;
}
