* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
}

html{
  scroll-behavior: smooth;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

h2 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
}
section {width: 100%; float:left;
}

/*header css*/
.navbar{
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: transition;
  z-index: 100;
  transition: all 1s;
}
.navbar.active{
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 1s;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logohead{
  width: 70px;
  height: 70px;
}
.navbar .menu{
  margin-left: 50%;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  margin-left: 25px;
}
.navbar .menu li a:hover{
  text-decoration: underline;
  font-size: 125%;
}
/* første sektion */

#side1{
background: url(billeder/kontakt_cover.jpg);
background-repeat: no-repeat;
display: flex;
height: 70vh;
background-size: cover;
background-attachment: fixed;
min-height: 200px;
}

#side1 h3{
  font-size: 27px;
  font-family: letter-gothic-std, monospace;
  font-weight: 700;
  font-style: normal;
}
#side1 h2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  opacity: 1.0;
}
.baggrundbox{
  background:rgba(243,248,249,0.7);
  width: 80%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 75px;
}

/*kort intro tekst*/
#sideintro{
  background: #71acb8;
  padding-bottom: 110px;
  padding-top: 110px;
}

#sideintro .introtekst{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1%;
  line-height: 30px;
  color: #fcf7f9;
}
@media (min-width: 800px) {
  .introtekst{
  font-size: 12hz;
  }
}
/*sektion 2*/
#side2{
  background: #f3f8f9;
  box-sizing: border-box;
}
.grid-container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.grid-item-left{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.grid-item-right{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.grid-item-right iframe{
  position: absolute;
  top:0;
  right:0;
  width: 50%;
  height: 50%;
}

/* side med farver */
#sidefarver {
  background: #f3f8f9;
}
#sidefarver .grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
}
#sidefarver .farve{
  margin: 10px;
  width: 100px;
  height: 100%;
  background: red;
}

/* sektion 3 */

#side3 {
  background: #fff;
}
  .slideboxtekst{
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

#side3 .box {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  width: 100%;
  z-index: 1;
}

.wrapper .carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel .card .cardpic{
  padding-bottom: 10px;
  border-radius: 40px 40px 15px 15px;
  max-height: 250px;
}
.carousel .card {
  margin: 20px 0;
  border-radius: 40px;
  height: 500px;
}

.carousel .card p, h2{
  text-align: center;
  margin: 5px 20px 0px 20px;
}
.carousel .card .cardoverskrift{
  text-align: center;
  color: white;
}
.carousel .card-1{
  background: #98c3b5;
}
.carousel .card-2{
  background: #e393b3;
}
.carousel .card-3{
  background: #71acb8;
}
.carousel .card-4{
  background: #98c3b5;
}
.carousel .card-5{
  background: #71acb8;
}
.carousel .card-6{
  background: #e393b3;
}
.owl-dots {
  text-align: center;
  margin-top: 1px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  border: 2px solid black!important;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
.owl-dot:hover, .owl-dot.active{
  background: black!important;
}

@media (min-width: 800px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  }
/*side 4*/

#side4{
 background: rgb(238,245,243);
 background: linear-gradient(180deg, rgba(238,245,243,1) 0%, rgba(255,255,255,1) 100%);
}
#side4 .about-content .hojre img {
 height: 600px;
 width: 400px;
 object-fit: cover;
 margin-left: 5%;
}

/* sektion 5 med gallery*/
#side5{
  padding: 0 0 4rem 0;
  box-sizing: border-box;
}
#side5 h2{
  margin-bottom: 25px;
}
.img-container {
  width: 100%;
  height: 500px;
  cursor: pointer;
  overflow: hidden;
}
.img-container:hover .img-content-hover {
    display: block;
}
#side5 .container img {
	width: 100%;
  height: 500px;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
#side5 .container img:hover{
  transform: scale(1.05);
}
.img-content-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: none;
  padding: 1rem;
  background: white;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: -2rem;
}
.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}
.category {
  font-size: 1rem;
  color: gray;
  max-width: 500px;
}
.img-content {
  display: none;
}
#side5 .grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto auto;
  }

@media screen and (max-width: 800px) {
  img:hover {
    transform: none;
  }

  .img-container {
    height: 100%;
}
    .img-container:hover .img-content-hover {
      display: none;
    }

  .img-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
  }
